* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 100%;
    /* padding: 2rem; */
}

.row {
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
}

.header.row {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game.row {
    height: 87%;
}

.col-1 {
    width: 8%;
}

.col-2 {
    width: 16%;
}

.col-3 {
    width: 24%;
}

.col-4 {
    width: 32%;
}

.col-5 {
    width: 40%;
}

.col-6 {
    width: 48%;
}

.col-7 {
    width: 56%;
}

.col-8 {
    width: 64%;
}

.col-9 {
    width: 72%;
}

.col-10 {
    width: 80%;
}

.col-11 {
    width: 88%;
}

.col-12 {
    width: 96%;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

aside > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 10%;
    background-color: #88CDEA;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.card.col-2 {
    height: 25%;
    margin: 0 auto;
}
