body {
    background-image: url("../dota 2 hero portraits/cinders.jpg");
    background-size: cover;
    font-family: "Radiance";
    color: #7d7d7d;
}

header h1 {
    font-size: 3vw;
    font-family: "Trajan Bold";
    color: #9f8972;
    letter-spacing: 0.8rem;
}

div.card {
    position: relative;
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 15px;
}

.card-front {
    transform: rotateY('-180deg');
    opacity: 0;
}
.flip > .card-front {
    opacity: 1;
}

.card-back {
    background-image: url("../dota 2 hero portraits/dota2.jpg");
}

.faceless {
    background-image: url("../dota 2 hero portraits/facelessvoid.jpg");
    background-color: black;
}

.kunkka {
    background-image: url("../dota 2 hero portraits/kunkka.jpg");
}

.lich {
    background-image: url("../dota 2 hero portraits/lich.jpg");
}

.lifestealer {
    background-image: url("../dota 2 hero portraits/lifestealer.jpg");
}

.shadowfiend {
    background-image: url("../dota 2 hero portraits/shadowfiend.jpg");
}

.spiritbreaker {
    background-image: url("../dota 2 hero portraits/spiritbreaker.jpg");
}

.tiny {
    background-image: url("../dota 2 hero portraits/tiny.jpg");
}

.vengeful {
    background-image: url("../dota 2 hero portraits/vengefulspirit.jpg");
}

.viper {
    background-image: url("../dota 2 hero portraits/viper.jpg");
}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
}

.modal-content {
    background-image: url("../dota 2 hero portraits/repeat.jpg");
    background-repeat: repeat;
    background-position: center;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 50%;
    letter-spacing: 1px;
}

.modal-button {
    font-size: 1.5rem;
    font-family: "Noto Sans", sans-serif;
    background-color: #111c26;
    border: 1px solid #336391;
    color: #336391;
    border-radius: 10px;
    padding: 1rem 3rem;
}

.hidden {
    display: none;
}
