body {
    background-image: url('../warcraft icons/woodbackground.jpg');
    background-size: cover;
}

header h1 {
    font-size: 4vw;
    color: white;
}

div.card {
    /* background-image: url('../images/lfz-card.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 15px;
}

.card-back {
    background-image: url('../warcraft icons/horde-back.png');
    background-color: black;
}

.css-logo {
    background-image: url('../warcraft icons/horde/orcs.png');
    background-color: black;
}

.docker-logo {
    background-image: url('../images/docker-logo.jpg');
}

.github-logo {
    background-image: url('../images/gitHub-logo.png');
}

.html-logo {
    background-image: url('../images/html-logo.png');
}

.js-logo {
    background-image: url('../images/js-logo.png')
}

.mysql-logo {
    background-image: url('../images/mysql-logo.jpg');
}

.node-logo {
    background-image: url('../images/node-logo.png');
}

.php-logo {
    background-image: url('../images/php-logo.jpeg');
}

.react-logo {
    background-image: url('../images/react-logo.png');
}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
}

.modal-content {
    background-color: #58ACF5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

button {
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

.hidden {
    display: none;
}
